* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

  /* outline: 1px solid rgba(255, 0, 0, 0.3); */
}
a {
  text-decoration: none;
}
.info-body {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url();
}
.container-detail {
  background-color: rgba(242, 221, 221, 0.836);
}
#movie-detail {
  display: flex;
  padding: 2.75rem;
  column-gap: 2.75rem;
}

.mov-poster img {
  border-radius: 10px;
}

.mov-info {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  justify-content: center;
}
.mov-top {
  display: flex;
  flex-direction: column;
  row-gap: 0.5;
}
.mov-title {
  display: flex;
  flex-direction: column;
  column-gap: 0.5rem;
}
.title {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: #000000;
  font-weight: 700;
}
.mov-title span {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: #000000e8;
  font-weight: 500;
}

.mov-fact {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}
.certification {
  border: 1px solid rgb(112, 112, 112);
  padding: 0.25rem;
  font-size: 16px;
  color: rgb(112, 112, 112);
  font-family: "Poppins", sans-serif;
}
.mov-action {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

.mov-action .action {
  display: inline-flex;
  text-decoration: none;
  background-color: #032541;
  width: 50px;
  height: 50px;
  border-radius: 999px;
  justify-content: center;
  align-items: center;
}

.mov-action .action .bi {
  font-size: 16px;
  color: #ffff;
}
.trailer {
}
.mov-play {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
}

.mov-play:hover .bi-play-fill,
.mov-play:hover {
  color: gray;
}

.bi-play-fill {
  color: #000000;
  font-size: 16px;
}

.header-info h3 {
  font-size: 20px;
  font-weight: 600;
}

.overview p {
  line-height: 1.6;
}

/* List Film */

.header-episode {
  display: flex;
  column-gap: 1.75rem;
  padding: 1.75rem 2.75rem;
  background-color: #f3dfdf;
}
.header-episode-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.5rem;
}
.header-episode-right a {
  text-decoration: none;
}
.header-episode-right a:hover .header-episode-title {
  text-decoration: underline;
}
.header-episode-right a:hover .header-episode-title span {
  text-decoration: none;
  display: inline-block;
}
.header-episode-title {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #000000;
}

.header-episode-title span {
  cursor: default;
  font-weight: 500;
}
.header-episode-right a:nth-last-child(1) {
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.header-episode-right a:nth-last-child(1):hover {
  color: gray;
  text-decoration: underline;
}

/* Episode */

.season {
  margin: 1rem 2rem;
  font-weight: 400;
}
.season span {
  color: grey;
  font-weight: 400;
}
.episode-card {
  display: flex;
  text-decoration: none;
  column-gap: 1rem;
  margin: 1rem 2rem;
  border: 1px solid grey;
  border-radius: 10px;
}
.episode-card-left {
  display: flex;
}
.episode-card-left img {
  width: 227px;
  height: 127px;
  border-radius: 10px 0px 0px 10px;
}
.episode-card-right {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  justify-content: center;
}
.title-wrapper {
  display: flex;
  column-gap: 0.75rem;
}
.more-info {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.title-box {
  display: flex;
  justify-content: center;

  flex-direction: column;
  row-gap: 0.25rem;
}

.episode-title {
  text-decoration: none;
  color: black;
  font-weight: 700;
}
.episode-title:hover {
  text-decoration: underline;
}

.rating {
  padding: 2.5px 7.5px;
  background-color: #032541;
  border-radius: 5px;
  color: #ffff;
  font-size: 0.9em;
}
.date,
.runtime {
  color: rgb(102, 102, 102);
  font-size: 0.9em;
}

.overview p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: calc(1em * 2);
  font-size: 0.9em;
  font-family: "Poppins", sans-serif;
  color: black;
}

.overlay-trailer {
  position: fixed;
  inset: 0;
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}
.overlay-trailer iframe.active {
  display: none;
}

.overlay-trailer.active {
  display: flex;
}

.mov-play {
  cursor: pointer;
}
details {
  background-color: pink;
  color: white;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
}
summary {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  font-weight: 500;
  list-style: none;
  cursor: pointer;
}
.season {
  cursor: auto;
}
.season[open] summary .arrow-season {
  transform: rotate(90deg);
}
.arrow-season {
  display: inline-block;
  font-size: 22px;
  transition: transform 0.2s ease;
}
/* Responsive Design ⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐*/
@media (max-width: 640px) {
  .overview,
  .header-info {
    display: none;
  }

  .filter {
    margin: 1rem 1rem;
    font-weight: 400;
  }
  .info-body {
    background-position: center bottom;
    width: 100%;
  }
  #movie-detail {
    flex-direction: column;
    padding: 1rem;
  }
  .mov-poster img {
    width: 50%;
    aspect-ratio: 2/3;
    object-fit: cover;
  }
  .mov-info {
    row-gap: 1rem;
  }
  .mov-top {
    row-gap: 0.25rem;
  }
  .mov-title {
    flex-direction: column;
  }
  .title {
    font-size: 1em;
  }
  .mov-title span {
    font-size: 1.1em;
  }
  .certification {
    font-size: 1.1em;
  }
  .genres {
    font-size: 1.1em;
  }
  .mov-action .action {
    background-color: #032541;
    width: 40px;
    height: 40px;
  }
  .overview p {
    font-size: 12px;
  }

  .episode-card {
    display: flex;

    column-gap: 0.1rem;
    margin: 1rem;
    border: 1px solid grey;
    border-radius: 5px 0px 0px 5px;
  }
  .episode-card-left {
    display: flex;
    width: 50%;
  }
  .episode-card-left img {
    width: 100%;

    aspect-ratio: 2/1;
    object-fit: cover;
    border-radius: 5px;
  }

  .episode-card-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    justify-content: center;
  }
  .episode-title {
    font-size: 12px;
  }

  .rating {
    background-color: #032541;
    border-radius: 2.5px;
    color: #ffff;
    font-size: 8px;
  }
  .date,
  .runtime {
    color: rgb(102, 102, 102);
    font-size: 0.7em;
  }

  .title-wrapper {
    display: flex;
    column-gap: 0.25rem;
  }

  .episode-number {
    font-size: 13px;
  }

  .title-box {
    row-gap: 0.5rem;
  }
  .title-episode {
    padding-left: 5px;
  }
}
