* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

}
body {
 
}
/* For Nav-Bar Utilities ⭐*/

.navbar-mobile,
.img-pp,
.navbar-mobile-right .bi-search,
.navbar-left .bi-list,
.mobile-content-left {
  display: none;
}

nav {
  width: 100%;
  background-color: pink;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-container {
  max-width: 1300px;
  padding: 1rem 3rem;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.navbar-content-left a {
  text-decoration: none;
  color: #ffff;
  font-size: 20px;
  line-height: 1;
  font-weight: bold;
}
.navbar-content-left {
  display: flex;
  gap: 1.5rem;
}
.navbar-icon {
  display: flex;
  align-items: center;
}
.navbar-left img {
  width: auto;
  height: 46px;
  object-fit: contain;
  aspect-ratio: 1/1;
}
.navbar-left .logo-title {
  font-size: 1.25rem;
  line-height: 1;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: #ffff;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.navbar-content-right {
  display: flex;
  gap: 1rem;
}
.navbar-content-right i {
  font-size: 1.5rem;
}

.navbar-search {
  display: flex;
  padding: 5px 14px;
  background-color: white;
  align-items: center;
  width: 100%;
  border-radius: 999px;
  max-width: 420px;
  gap: 8px;
  transition: box-shadow 0.2s ease;
}

.input-keyword {
  color: palevioletred;
  border: none;
  outline: none;
  width: 100%;
  background: transparent;
  padding: 10px 14px;
}

.search-button {
  font-size: 1rem;
  cursor: pointer;
}
.input-keyword::placeholder {
  color: palevioletred;
  font-weight: 500;
}

.navbar-content-right i {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}
/* For Container Film ⭐ */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.row-film {
  display: grid;
  padding: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
}
.card {
  border-radius: 10px;
  overflow: hidden; /* ⭐ penting */
  height: 100%;
  background-color: #fad2d5;
}
.card img {
  width: 100%;
  aspect-ratio: 2 / 3;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
}
.card-title {
  font-size: 18px;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.card {
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
}

/* Responsive Design */

@media (max-width: 640px) {
  .navbar-mobile,
  .img-pp,
  .navbar-mobile-right .bi-search,
  .navbar-left .bi-list {
    display: flex;
  }
  .navbar-container {
    padding: 0.5rem 0.75rem;
    gap: 0;
  }
  .navbar-content-left,
  .navbar-content-right,
  .navbar-search {
    display: none;
  }

  .navbar-left .bi-list {
    font-size: 2rem;
    color: #ffff;
    cursor: pointer;
  }

  .navbar-content-mobile {
    display: flex;
  }
  .navbar-left {
    gap: 1rem;
  }

  .navbar-mobile-right {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  .navbar-mobile-right .bi-search {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
  }
  .img-pp {
    object-fit: 1 / 1;
    border-radius: 999px;
    width: 2.5rem;
    cursor: pointer;
  }
  .mobile-content-left {
    position: fixed;
    top: 0;
    /* left: -100%; */
    transform: translateX(-100%);
    inset: 0 auto 0 0;
    width: 260px;
    height: 100vh;
    border-right: 10px solid rgb(229, 50, 205);
    background: pink;
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    gap: 1.25rem;
    transition: transform 0.3s ease;
    z-index: 999;
  }
  .mobile-content-left.active {
    /*  left: 0; */
    transform: translateX(0);
  }
  body.no-scroll {
    overflow: hidden;
  }

  .overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    z-index: 998;
  }
  .overlay.active {
    opacity: 1;
    pointer-events: auto;
  }
}
